<nav class="navbar navbar-expand-md navbar-dark bg-secondary flex-md-column flex-row">

  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse pt-3" [ngbCollapse]="isNavbarCollapsed">
    <!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> -->
    <ul class="flex-md-column flex-row navbar-nav width justify-content-between">
      <li class="nav-item hide-down-md">
        <a class="nav-link" routerLink="/emission">Emissionen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link level-2" routerLink="/emission" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Meine Reisen</a>
      </li>
      <li class="nav-item">
          <a class="nav-link level-2" routerLink="/emission/team" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Mein CST</a>
      </li>
      <li class="nav-item">
          <a class="nav-link level-2" routerLink="/emission/company" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Senacor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/faq" routerLinkActive="active">FAQ</a>
      </li>
      <li class="nav-item show-down-md">
        <a class="nav-link" [href]="logoutLink">Logout</a>
      </li>
    </ul>
  </div>
</nav>
