<div class="row">
  <div class="col mb-2">
    <button type="button" class="btn rounded-0 shadow-sm bg-white" (click)="showCalendar = !showCalendar">
      {{ getFromDate() | date:'longDate' }} - {{ getToDate() | date:'longDate' }} <fa-icon [icon]="faCalendarWeek" class="text-primary"></fa-icon>
    </button>
  </div>
</div>

<ngb-datepicker *ngIf="showCalendar" (dateSelect)="onDateSelect($any($event))" [dayTemplate]="rangeSelection" outsideDays="hidden"
                [startDate]="startDate" displayMonths="2"></ngb-datepicker>

<ng-template #rangeSelection let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>
