$senacor-green-dark: #004953;
$senacor-green-middle: #0a7777;
$senacor-green-light: #01a688;

$highlight-red: #df0917;
$highlight-lightblue: #56d9fe;
$highlight-darkblue: #007fff;
$highlight-purple: #a3a0fb;

$highlight-yellow-light: #ffce00;
$highlight-yellow-dark: #ffba00;

$primary: $senacor-green-dark;
$secondary: $senacor-green-light;

@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-family-sans-serif: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
$headings-font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, "Helvetica Neue", sans-serif;
$enable-shadows: true;
$body-bg: #f8f8f8;
