<div class="row">
  <div class="col-12">
    <h1>Emissionen durch Geschäftsreisen</h1>
  </div>
</div>

<div class="row mt-1">
  <div class="col-12">
    <app-datepicker></app-datepicker>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12 col-md-6 col-lg-4 mb-4">
    <app-emission-overview title="Meine Reisen"
                           subtitle="im Vergleich zu anderen Mitarbeitern"
                           [distance]="travellerStats?.total?.distance"
                           [emission]="travellerStats?.total?.emission.co2e"
                           [compensation]="travellerStats?.total?.monetaryCo2e"
                           [comparedToOthers]="travellerStats?.total?.ratio?.value"
                           [statsToShow]="'Traveller'"
                           [isLoading]="isStatsLoading"
                           [routeGoal]="['emission']"
    >
    </app-emission-overview>
  </div>

  <div class="col-12 col-md-6 col-lg-4 mb-4">
    <app-emission-overview [title]="'Mein CST' + (!!traveller?.team ?' (' + traveller?.team + ')' : '')"
                           subtitle="im Vergleich zum durchschnittlichen CST"
                           [distance]="teamStats?.total?.distance"
                           [emission]="teamStats?.total?.emission.co2e"
                           [compensation]="teamStats?.total?.monetaryCo2e"
                           [comparedToOthers]="teamStats?.total?.ratio?.value"
                           [statsToShow]="'Team'"
                           [isLoading]="isStatsLoading"
                           [routeGoal]="['emission', 'team']">
    </app-emission-overview>
  </div>

  <div class="col-12 col-md-6 col-lg-4 mb-4">
    <app-emission-overview title="Senacor"
                           subtitle="im Vergleich zu anderen IT-Beratungen"
                           [distance]="companyStats?.total?.distance"
                           [emission]="companyStats?.total?.emission.co2e"
                           [compensation]="companyStats?.total?.monetaryCo2e"
                           [comparedToOthers]="companyStats?.total?.ratio?.value"
                           [statsToShow]="'Company'"
                           [isLoading]="isStatsLoading"
                           [routeGoal]="['emission', 'company']">
    </app-emission-overview>
  </div>
</div>

<div class="row mt-3 mb-3">
  <div class="col">
    <div class="card shadow-sm emission-overview rounded-0 border-0">
      <app-loading [loading]="isEmissionDistanceStatisticsLoading"></app-loading>
      <div class="card-body">
        <h5 class="card-title">Emissionen und Distanz nach Verkehrsmittel</h5>
        <h6 class="card-subtitle mb-2">Die verschiedenen Flächen stellen die Menge an produzierten Treibhausgasen relativ zueinander dar.</h6>
        <div class="card-text">
          <app-emission-distance-chart [stats]="emissionDistanceStatistics"></app-emission-distance-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
