
<div class="row mt-3 mb-3">
  <div class="col">
    <div class="card shadow-sm emission-overview rounded-0 border-0">
      <div class="card-body">
        <h5 class="card-title">Vergleich mit verschiedenen Werten</h5>
        <div class="row align-items-center">
          <app-comparison-tile class="col" [text]="treesText" [image]="treesImage" [number]="trees">
          </app-comparison-tile>
          <app-comparison-tile class="col" [text]="chickensText" [image]="chickenImage" [number]="chickens">
          </app-comparison-tile>
          <app-comparison-tile class="col" [text]="personsText" [image]="teamImage" [number]="persons">
          </app-comparison-tile>
          <app-comparison-tile class="col" [text]="carText" [image]="carImage" [number]="km">
          </app-comparison-tile>
        </div>
      </div>
    </div>
  </div>
</div>
